/* ================== */
/* Fonts */
/* ================== */
@font-face {
    font-family: 'Science Gothic';
    src: url(./assets/ScienceGothic-VariableFont_CTRS,slnt,wdth,wght.ttf);
}

/* ================== */
/* Color Config */
/* ================== */
:root {
    --site-font: 'Science Gothic';
    --site-bg: rgb(29, 29, 29);
    --navbar-bg: #181818;
    --navbar-border: black;
    --footer-bg: var(--navbar-bg);
    --footer-border: black;
    --input-text-border: #e0e0e05c;
    --input-text-shadow: rgb(10 10 10 / 50%);
    --input-btn-bg: #181818;
    --input-btn-border: #ffffff4a;
    --input-btn-hover-color: #2B2B2B;
    --input-btn-hover-bg: white;
    --input-btn-hover-border: black;
}

/* ================== */
/* Misc */
/* ================== */
* {
    margin: 0;
    color: white;
    transition: all 0.5s;
    font-family: var(--site-font);
}

body {
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background: var(--site-bg);
}

/* ================== */
/* Header & Title */
/* ================== */
#navigation-header {
    display: flex;
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    background: var(--navbar-bg);
    border-bottom: 1px solid var(--navbar-border);
}

#app-title {
    font-size: 5.5vh;
    font-weight: bolder;
    line-height: 9vh;
    margin-left: 10vw;
    user-select: none;
}

/* ================== */
/* Login Tab */
/* ================== */
.input-text-label {
    font-size: 1.8vh;
    margin-bottom: 0.7vh;
    margin-top: 3vh;
    margin-left: 0.25vw;
    user-select: none;
}

.input-textbox {
    background: transparent;
    border: 1px solid var(--input-text-border);
    border-radius: 0 1vh 1vh 1vh;
    padding: 1vh;
    font-size: 1.1rem;
    box-shadow: 2px 2px 7px var(--input-text-shadow);
}
.input-textbox:hover {
    border-color: white;
}

.input-button {
    background: var(--input-btn-bg);
    box-shadow: 2px 2px 7px var(--input-text-shadow);
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 1vh;
    border: none;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--input-btn-border);
}
.input-button:hover {
    color: var(--input-btn-hover-color);
    background: var(--input-btn-hover-bg);
    border: 1px solid var(--input-btn-hover-border);
}

#login-text {   
    font-size: 5.5vh;
    margin-bottom: 7vh;
    margin-top: 24vh;
    text-shadow: 8px 8px 5px #0e0e0e;
    user-select: none;
}

#login-inputs {
    margin: auto;
    margin-bottom: 55vh;
    text-align: left;
    width: fit-content;
    user-select: all;
}

.input-acc-btns {
    display: flex;
    margin: auto;
}

.input-button {
    display: block;
    width: 91.5%;
    margin: auto;
    width: 49%!important;
    margin-top: 2vh!important;
    margin-left: 0.5vh;
    margin-right: 0.5vh;
}

/* ================== */
/* Footer */
/* ================== */
.footer {
    height: 5vh;
    width: 100vw;
    background: var(--footer-bg);
    border-top: 1px solid var(--footer-border);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.footer-text-item {
    font-weight: 100;
    font-size: 2.25vh;
    margin: auto;
    margin-right: 2vw;
}

a {
    color: #ffffff;
    
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#acc-toggle-btn {
    cursor: pointer!important;
}

.footer-sep {
    display: inline;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

/* ================== */
/* Tabs */
/* ================== */
.page-tab {
    display: none;
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}